/*------------
Global Styles
-------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	margin: 1rem;
}

/*------------
HEADER
-------------*/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nhl__logo {
	width: 50px;
	height: auto;
}

.main-header__title {
	display: flex;
	align-items: center;
}

.main-header__nav {
	margin-top: 7px;
}

.button {
	background-color:navy;
	color: #ffffff;
	border: none;
	margin-right: 3px;
	padding: 5px;
}

.button:hover {
	transform: scale(1.1);
}

/*------------
BODY
-------------*/

.flex-list{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	
}

.flex-item-container{
	display: flex;
	align-content: center;
	justify-content: center;
	width: 400px;
	height: 400px;
	background-color: #ffffff;
	margin:1.5rem;
}

.flex-list--item img{
	width: 400px;
	height: auto;
}
